- breadcrumb :requests, @client

= paginate @requests, views_prefix: 'pagination'

%h1 Requests

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th.text-right
        = link_to '', new_client_request_path, class: 'btn btn-success btn-sm glyphicon glyphicon-file', title: 'Create new request'
  %tbody
    - @client.requests.each do |req|
      %tr
        %td= link_to req.title, client_request_path(@client, req)
        %td.text-right
          = link_to '', client_request_path(@client, req), class: 'btn btn-info btn-sm glyphicon glyphicon-list-alt', title: 'Show'
          = link_to '', edit_client_request_path(@client, req), class: 'btn btn-primary btn-sm glyphicon glyphicon-pencil', title: 'Edit'
          = link_to '', client_request_path(@client, req), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-sm glyphicon glyphicon-trash', title: 'Delete'

= paginate @requests, views_prefix: 'pagination'
