%p#notice= notice
%h1 Rubric list
%table.table.table-striped
  %thead
    %tr
      %th Title
      %th{:colspan => "3"}
  %tbody
    - @rubrics.each do |rubric|
      %tr
        %td
          Rubric: #{rubric.title}
        %td= link_to 'Show', rubric
        %td= link_to 'Edit', edit_rubric_path(rubric)
        %td= link_to 'Destroy', rubric, method: :delete, data: { confirm: 'Are you sure?' }

%br/
= link_to 'New Rubric', new_rubric_path
