%h1 New Rubric
= form_for(@rubric) do |f|
  = f.hidden_field :rubric_id
  .field
    = f.label :title
    %br/
    = f.text_field :title
  .actions
    = f.submit @rubric.new_record? ? 'Create' : 'Edit'
%br/
%br/

= link_to 'Back', rubrics_path
