- breadcrumb :rubric, @rubric
%strong Rubric subs:
= link_to @rubric.title, rubrics_path(rubric_id: @rubric.id)
%br
%br
%br
= link_to 'New Main Rubric', new_rubric_path, class: 'btn btn-warning'
%br
%br

= link_to 'New Subrubric', new_rubric_path(rubric_id: @rubric&.id), class: 'btn btn-warning'
%br
%br
= link_to 'Edit Rubric', edit_rubric_path(@rubric),  class: 'btn btn-danger'
%br
%br
= link_to 'Main page', rubrics_path, class: 'btn btn-primary'



